<ion-content class="ion-padding celebration-page">
  <div class="celebration-content">
    <img src="assets/coming-soon1.png" alt="Coming Soon" class="coming-soon-image"/>
    <h2>Celebration feature is</h2>
    <h1 class="coming-soon-text">Coming Soon!</h1>
    <p>We're hard at work behind the scenes, crafting something truly spectacular that we can't wait to share with you. This feature will transform the way you experience our platform, bringing you a host of innovative tools and exciting new possibilities. The countdown has begun, and soon you'll be able to explore everything we’ve been building just for you. Stay tuned and keep an eye out for more updates as we get closer to the big launch. Something amazing is on its way—thank you for being a part of this journey!</p>   
    <ion-button routerLink="/home">Go Home</ion-button>
  </div>
</ion-content>
