<ion-content [fullscreen]="true">
  <div style="
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3131;
    margin: 0px auto; 
    width: 100%;
    padding: 0 20px; 
    flex-direction: column;
    height: 180px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 0;
">
    <h1 style="
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0px;
      display: inline-block;
      margin-top: -80px;
      color: #fff;
      letter-spacing: 2px;
  ">Terms of Service</h1>
  <div style="
  display: block;
  width: 80px; 
  height: 2px; 
  background-color: #fff; 
  margin: 15px auto 0; 
  margin-bottom: 0px;
  "></div>
  </div>

  <!-- Terms Content -->
  <ion-card style=" margin: 0 auto; 
  margin-top: -80px;
  padding: 20px; 
  max-width: 1200px; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; ">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 1rem;
      color: #FF3131;  
      font-weight: 600;
      font-style: italic;">Last updated: October 11, 2023</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="text-align: left;">
      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">1. Introduction</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Welcome to Iwin Life, an experience and event discovery, booking, and sharing platform ("the Service") operated by Iwin Inc. for users in the USA and Iwin Born to Win Enterprises Private Limited for users in India and other jurisdictions. By accessing or using our platform, you agree to abide by these Terms of Service and any additional terms that may apply.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">2. Eligibility and Registration</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Users must be at least 13 years of age. Users under 18 require parental consent and supervision.<br>
        By registering, you confirm that you have the appropriate consent or are of legal age.<br>
        Users must provide accurate, current, and complete registration information.<br>
        Protect your account credentials. Notify us immediately of any unauthorized use.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">3. Service Description</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Iwin Life lets users discover, book, and share events/experiences. 
        Event availability is based on the discretion of event organizers. 
        While we aim to provide accurate event descriptions, we aren't responsible for inaccuracies.
      </p>

      
      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">4. Content and Intellectual Property</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Content uploaded remains the uploader's intellectual property.
        By sharing content, you grant Iwin Life a global, royalty-free license to use, display, and distribute said content.
        Respect copyrights and intellectual property rights.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">5. Payments, Cancellations, and Refunds</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Payments are securely processed. We aren't responsible for issues arising from third-party payment providers.
        Refunds/cancellations are based on the event organizer's policy.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">6. User Conduct</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">
        Users agree to use the Service lawfully, without infringing on others or disrupting the Service's integrity.
        Misuse can lead to suspension or termination.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">7. Limitation of Liability & Disclaimer</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">       
        Iwin Life, its affiliates, or partners shall not be liable for any indirect, incidental, or consequential damages.
        The Service is provided "as is." We make no warranties regarding its accuracy, reliability, or functionality.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">8. Governing Law & Jurisdiction</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        For US users: Governed by Nevada, USA laws.
        For Indian users: Governed by Tamilnadu, India laws.
        Users from other countries must adhere to the laws of either the USA or India based on the platform's discretion.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">9. Dispute Resolution</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        Mediation first. If unresolved, disputes will be settled in the previously mentioned jurisdictions.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">10. International Users</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        International users must comply with local laws regarding online conduct and acceptable content. They must also adhere to either USA or India's regulations as specified by the platform.
      </p>


      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">11. Privacy</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        Our Privacy Policy, available at [link], details the collection and use of personal data. 
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">12. Changes to Terms</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        We may revise these terms. Continued use after changes signifies acceptance. 
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">13. Termination</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        We reserve the right to suspend or terminate accounts without notice for terms violation.
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">14. No Waiver</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        Failure to enforce any right under these terms will not constitute a waiver of such right. 
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">15. Indemnity</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        You agree to indemnify and hold harmless Iwin Life and its subsidiaries, agents, licensors, managers, and other affiliated companies, and their employees, contractors, agents, officers, and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses arising from your use of and access to the Service, including any data or content transmitted or received by you. 
      </p>

      <h2 style="margin-top: 20px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;">16. Contact</h2>
      <p style=" margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: #222;">        
        For concerns, please reach out using the contact form.
      </p>



    </ion-card-content>
  </ion-card>

  <!-- Back to Top Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scrollToTop()" style="--background: #FF4141;  ">
      <ion-icon name="arrow-up-circle" style="font-size: 2.0rem;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

